<turbo-frame id="<%= dom_id(set) %>">
  <tr>
    <td><%= index %></td>
    <td><%= set.reps %></td>
    <td><%= set.weight %><abbr title="kilograms">kg</abbr></td>
    <td>
      <a href="<%= destroy_set_path(Current.user, set) %>"
         data-turbo-method="delete"
         data-turbo-confirm="Delete set <%= index %>?">Delete</a>
    </td>
  </tr>
</turbo-frame>
