<% content_for :title, @workout.created_at.strftime('%A %-d %B %Y') %>

<% content_for :header_content do %>
  <div role=group>
    <a href= <%= workouts_path(Current.user) %> role=button>Workouts</a>
    <a href= <%= new_exercise_path(Current.user, workout_id: @workout.id) %> role=button>New Exercise</a>
    <a href= <%= exercises_path(Current.user) %> role=button>Add Existing</a>
  </div>
<% end %>

<% @exercises.each do |exercise| %>
  <article>
    <% if exercise.weights? %>
      <a href= <%= sets_path(Current.user, exercise) %>>
        <h2><%= exercise&.avg_reps %></h2>
        <h3><%= exercise&.avg_weight %></h3>
      </a>
    <% else %>
      <% if exercise.sets.any? %>
        <h2><%= exercise.name %></h2>
        <h3><%= exercise.sets.first.distance %></h3>
        <h4><%= exercise.sets.first.duration %></h4>
      <% else %>
        <a href= <%= new_set_path(Current.user, exercise) %>>
          <h2><%= exercise.name %></h2>
        </a>
      <% end %>
    <% end %>

    <form action= <%= remove_workout_exercise_path(Current.user, @workout, exercise) %> method=post>
      <input type=hidden name=_method value=delete>
      <input type=hidden name=authenticity_token value= <%= form_authenticity_token %>>
      <button type=submit>Remove</button>
    </form>
  </article>
<% end %>